body, html {
    font-family: ProximaNova-Semibold;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.mdl-layout__container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.mdl-layout .st-header__button {
    display: block;
    position: absolute;
    height: 48px;
    width: 48px;
    border: 0;
    flex-shrink: 0;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
    line-height: 50px;
    margin: 4px;
    top: 4px;
    left: 0;
    z-index: 4;
    outline: none;
}
.mdl-layout__header-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    box-sizing: border-box;
    align-self: stretch;
    align-items: center;
    height: 64px;
    margin: 0;
    padding: 0 40px 0 80px;
}
.st-button.st-button--primary, a.st-button.st-button--primary, button.st-button.st-button--primary {
    color: #fff;
    background-image: linear-gradient(180deg,#2399f0 0,#107bea);
}
.st-button, a.st-button, button.st-button {
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 8px;
    line-height: 24px;
    font-size: 14px;
    margin: 1px;
    font-family: ProximaNova-Semibold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(0,27,72,.12);
    background-image: linear-gradient(180deg,#fff 0,#f1f3f7);
    color: rgba(0,14,36,.87);
}
.st-m-r-8 {
    margin-right: 8px!important;
}
.st-font-headline {
    font-size: 24px;
    line-height: 28px;
    font-family: ProximaNova-Semibold;
}
.st-button.st-button--primary, a.st-button.st-button--primary, button.st-button.st-button--primary {
    color: #fff;
    background-image: linear-gradient(180deg,#2399f0 0,#107bea);
}
.st-select select {
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    border: 1px solid rgba(0,27,72,.32);
    border-radius: 4px;
    font-family: ProximaNova-Semibold;
    font-size: 14px;
    line-height: 30px;
    box-sizing: border-box;
    padding: 0 24px 0 8px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: right 8px center,0 0;
    background-image: url(https://app2.simpletexting.com/img/st-select--black.svg),linear-gradient(0deg,#f1f3f7 0,#fff);
    outline: none;
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow .3s;
}
.st, body {
    font-family: ProximaNova-Regular,Helvetica,sans-serif;
    color: rgba(0,14,36,.87);
    font-size: 14px;
}

.st-emptystate__title {
    font-family: ProximaNova-Semibold;
    font-size: 24px;
    color: rgba(0,14,36,.87);
    line-height: 1.2em;
    margin-bottom: 16px;
}
.st-emptystate__text {
    font-size: 16px;
    color: rgba(0,27,72,.54);
    line-height: 1.5em;
}
