// Here you can add other styles
body {
  background: white;
}

#root .main {
  display: flex;
  flex-direction: column;

  >div:first-child {
    height: 46px;
    display: none;
  }

  >div:last-child {
    flex: auto;
    padding: 0;
    display: flex;
  }
}

.progress {
  margin-bottom: 10px;
}

$border-color: #c8ced3;

#Campaigns {
  width: 100%;
  display: flex;
  background-color: white;

  .message-list-container {
    border-right: 1px solid $border-color;
    display: flex;
    flex-direction: column;

    .control-container {
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    border: 1px solid rgba(0,27,72,.32);
    border-radius: 4px;
    font-family: ProximaNova-Semibold;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 24px 0 8px;
    margin: 0;
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow .3s;

      >:first-child {
        color: white;
        background-image: linear-gradient(#1c89ed, #45a6fe, #1c89ed);
        border-color: #1c89ed;
        outline: none;
      }

      > :last-child {
        >button {
          background-color: #f5f6f8;
          margin-left: 10px;
          font-size: 14px;
          font-family: ProximaNova-Semibold;
         line-height: 24px;
         width: 110px;
          text-align: left;
          position: relative;
        }
      }
    }

    .message-list {
      flex: auto;
      overflow-y: auto;
      width: 290px;

      .message-item {
        cursor: pointer;
        height: 95px;
        padding: 10px 12px;
        border-top: 1px solid $border-color;
        border-left: 3px solid rgb(239, 245, 254);
        background: rgb(239, 245, 254);
        overflow: hidden;

        .title-bar {
          display: flex;
          justify-content: space-between;

          .message-title {
            font-weight: bolder;
            margin-bottom: 5px;
          }

          .message-date {
            padding-right: 22px;
          }
        }

        .message-simple {
          font-family: none !important;
          flex: auto;
          white-space: pre-wrap;
          height: 43px;
          overflow: hidden;
          color: #6f7f9a;
        }
      }

      .message-item.selected {
        border-left: 3px solid #1f8fee;
      }

      .message-item:last-child {
        border-bottom: 1px solid $border-color;
      }
    }
  }

  .message-container {
    flex: auto;

    // padding: 5px;
    .message-status-bar {
      background-color: #e7f6e9;
      color: #24ae36;
      padding: 2px 5px;
      width: 100%;
    }

    .message-panel {
      padding: 10px 15px;

      >div {
        margin-bottom: 15px;
      }

      .message-control-bar {
        display: flex;
        justify-content: space-between;

        .message-control-items {
          i {
            margin-left: 20px;
          }
        }
      }

      .message-title {
        span {

          border-radius: 10px;
          border: 1px solid $border-color;
          padding: 3px 10px;
        }
      }

      .message-content {
        border: 1px solid $border-color;
        border-radius: 5px;
        padding: 10px;
        white-space: pre-wrap;
      }

      .message-analytics-content {
        display: flex;

        >div {
          margin-right: 15px;
          display: flex;
          align-items: center;
          flex-direction: column;

          >span:first-child {
            margin-top: 7px;
            margin-bottom: -9px;
          }

          >span:last-child {
            font-size: 30px;
            color: #1f8fee;
          }
        }
      }

      .message-progress-bar {
        max-width: 300px;

        >div:last-child {
          display: flex;
          justify-content: space-between;
          color: #2190ee;
        }
      }

    }

  }
}

img {
  vertical-align: initial;
}

html:not([dir="rtl"]) .sidebar {
  margin-left: -215px;
}

.app-header {
  justify-content: start;
}

.app-header .navbar-brand {
  width: auto;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: none;
}

.breadcrumb>.breadcrumb-item:first-child {
  display: none;
}

.breadcrumb {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

.breadcrumb-item.active {
  color: black;
  font-size: 24px;
  line-height: 28px;
    font-family: ProximaNova-Regular,Helvetica,sans-serif;
}

.main {
  border-top: 1px solid $border-color;
}

.app-header {
  background: transparent;
  border: none;
}

.app-body .sidebar {
  padding-top: 58px;
  margin-top: -58px;
}

.sidebar {
  background: #dce4eb;

  .nav-link {
    color: #78879f;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .nav-item {
    line-height: 1;
  }

  .nav-item:nth-child(2) a::after,
  .nav-item:nth-child(3) a::after,
  .nav-item:nth-child(4) a::after,
  .nav-item:nth-child(5) a::after,
  .nav-item:nth-child(6) a::after,
    {
    position: absolute;
    right: 19px;
    top: 17px;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #80808085;
    z-index: 10;
  }

  .nav-item a.active::after {
    background-color: white;
  }

  .sidebar-nav {
    width: 215px;
  }

  .nav {
    width: 203px;
    margin-left: 3px;
  }

  .nav-link.active {
    background: #1f8fee;
  }

  .nav-link.active .nav-icon {
    color: #ffffff;
  }
}

.sidebar-fixed .app-header+.app-body .sidebar {
  height: 100vh
}

.btn-info:focus,
.btn-info.focus {
  box-shadow: none;
}

.help-icon {
  height: 14px;
  background-image:
    url('/assets/img/icons/help_black.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.sidebar .nav-link:hover .help-icon {
  background-image:
    url('/assets/img/icons/help.png');
}

.flag-select img {
  width: 1.1em;
  height: 1.2em;
}

.sidebar-fixed .sidebar {
  width: 215px !important;
}


.breadcrumb {
  padding-left: 20px;
}

.dropdown-toggle::after {
  position: absolute;
  right: 6px;
  top: 13px;
}

@media (min-width: 992px) {

  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 215px;
  }
}

@media (min-width: 768px) {
  html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed .app-footer,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 215px;
  }
}

@media (min-width: 576px) {
  html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed .app-footer,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 215px;
  }
}
